@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
/*------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Lexend Deca", Helvetica;
  color: #111111;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  padding: 15px;
  max-width: 820px;
  margin: 0 auto;
}

body {
  background-color: #FCE38A;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 72px;
  text-align: center;
}

.slogan {
  text-align: center;
  font-size: 32px;
  margin: 0px 0px 18px 0px;
  font-weight: 500;
}

.text {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 350px) {
  .text {
    font-size: 24px;
  }
  .slogan {
    font-size: 28px;
  }
  .title {
    font-size: 64px;
  }
}
.soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 46px 0px 0px 0px;
}
.social-media__item {
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  font-size: 28px;
  padding-left: 80px;
  position: relative;
}
.social-media__item:hover {
  color: #8AA3FC;
}
.social-media__item::before {
  content: "";
  position: absolute;
  background-image: url("../img/social/wp.png");
  width: 80px;
  height: 80px;
  top: -23px;
  left: 0;
}
.social-media__item:not(:last-child) {
  margin: 0px 0px 45px 0px;
}
.social-media__item:nth-child(2)::before {
  background-image: url("../img/social/tg.png");
}
.social-media__item:nth-child(3)::before {
  background-image: url("../img/social/inst.png");
}
.social-media__item:nth-child(4)::before {
  background-image: url("../img/social/fb.png");
}
.social-media__item:nth-child(5)::before {
  background-image: url("../img/social/tt.png");
}